.mitable{
    padding: 0px 0px 10px 0px !important;
}
.contenTable{
 border-radius: 0rem !important;
 border-radius: 0px 0px 5px 5px !important;
}
main::-webkit-scrollbar {
    display: none;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
/* parte superior de la tabla */
table thead tr th{
    
    color: white !important;
}

table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after, table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after, table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after{
    content: "↓" !important;
    right: 80px !important;
    top: 16px !important;
    margin-left: 4px !important;
    transform: rotate(180deg) !important;
}
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before, table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before {
    content: "↓" !important;
    top: 16px !important;
    margin-left: 4px !important;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
  text-align: left !important;
}
/* parte inferior de la tabla */

table tfoot tr th{
    
    color: rgb(225, 225, 225) !important;
}

/* Boton switch */
.togglewrapper {
    overflow: hidden;
  }
  
  .togglewrapper input{
    position:absolute;
    left: -99em;
  }
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 176px;
    height: 35px;
    border-radius: 5px;
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .toggle:before, .toggle:after {
    position: absolute;
    line-height: 37px;
    font-size: 14px;
    z-index: 2;
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .toggle:before {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    content: "Personal";
    color: #1929bb;
    left: 20px;
  }
  .toggle:after {
    content: "Familiar";
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
    right: 20px;
  }
  .toggle_handler {
    display: inline-block;
    z-index: 1;
    position: relative;
    top: 3px;
    left: 3px;
    width: 89px;
    height: 29px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform: translate(0px);
  }

  input:checked + .toggle:before {
    color: #fff;
  }
  input:checked + .toggle:after {
    color: #1929bb;
  }
  input:checked + .toggle .toggle_handler {
    width: 84px;
    transform: translateX(84px);
    border-color: #fff;
  }


  .dataTables_wrapper .dataTables_paginate {
    display: flex !important;
    justify-content: flex-end !important;
}


.img-table{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.dt-middle {
  vertical-align: middle !important;
}


#myTable::-webkit-scrollbar {
  display: none;
}

#myTable:hover::-webkit-scrollbar {
  display: none;
  position: absolute; /* Posiciona la barra de desplazamiento de forma absoluta */
  top: 0; /* Posiciona la barra en la parte superior */
  right: 0;
  height: 7px !important;
  width: 7px;
  border-radius: 20px;
}
#myTable::-webkit-scrollbar:window-inactive {
  display: none;
}
#myTable::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 6px;
}